[submodule "cairo"]
	path = cairo
	url = https://github.com/Ztarknet/cairo
	branch = blake2b
[submodule "cairo-vm"]
	path = cairo-vm
	url = https://github.com/Ztarknet/cairo-vm
	branch = blake2b
[submodule "stwo-cairo"]
	path = stwo-cairo
	url = https://github.com/Ztarknet/stwo-cairo
	branch = blake2b
[submodule "zoro"]
	path = zoro
	url = https://github.com/starkware-bitcoin/zoro
  branch = brandon/equihash-optimizations
[submodule "scarb"]
	path = scarb
	url = https://github.com/Ztarknet/scarb
	branch = blake2b
[submodule "scarb-burn"]
	path = scarb-burn
	url = https://github.com/b-j-roberts/scarb-burn
	branch = brandon/blake2b
[submodule "proving-utils"]
	path = proving-utils
	url = https://github.com/Ztarknet/proving-utils
	branch = main
